@mixin breakpoint($point) {
  @if $point==base {
    @media (min-width: 992px) and (max-width: 1279px) {
      @content;
    }
  }
  @if $point==desktopSmall {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @if $point==desktopMedium {
    @media (min-width: 1320px) {
      @content;
    }
  }
  @if $point==desktopLarge {
    @media (min-width: 1440px) {
      @content;
    }
  }
  @if $point==desktopXLarge {
    @media (min-width: 1920px) {
      @content;
    }
  }
  @if $point==tablet {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $point==mobileLandscape {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $point==mobile {
    @media (max-width: 479px) {
      @content;
    }
  }
}

HTML {
  font-size: 16px;
  font-variant-ligatures: common-ligatures;
}

::selection {
  color: var(--color--background);
  background: var(--color--text);
}

body {
  opacity: 0;
  font-variation-settings: "wght" 400;
  transition: opacity 100ms ease-out;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 0.125rem solid #4d65ff;
  outline-offset: 0.125rem;
}

main:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.is-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

input,
textarea {
  appearance: none;
  border-radius: 0;
}

.modal-opt-in_component {
  display: none;
}

[th-member="bio"] {
  @include breakpoint(desktopSmall) {
  }
  @include breakpoint(desktopMedium) {
  }
  @include breakpoint(desktopLarge) {
  }
  @include breakpoint(desktopXLarge) {
  }
  @include breakpoint(desktopSmall) {
  }
  @include breakpoint(tablet) {
  }
  @include breakpoint(mobileLandscape) {
  }
  @include breakpoint(mobile) {
  }
  &.is-active {
  }
}
[th-member="trigger-icon"].is-active {
  @include breakpoint(desktopSmall) {
  }
  @include breakpoint(desktopMedium) {
  }
  @include breakpoint(desktopLarge) {
  }
  @include breakpoint(desktopXLarge) {
  }
  @include breakpoint(desktopSmall) {
  }
  @include breakpoint(tablet) {
  }
  @include breakpoint(mobileLandscape) {
  }
  @include breakpoint(mobile) {
  }
}
