:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-neutral-50: rgb(250, 250, 250);
  --color-neutral-100: rgb(245, 245, 245);
  --color-neutral-200: rgb(229, 229, 229);
  --color-neutral-300: rgb(212, 212, 212);
  --color-neutral-400: rgb(163, 163, 163);
  --color-neutral-500: rgb(115, 115, 115);
  --color-neutral-600: rgb(82, 82, 82);
  --color-neutral-700: rgb(64, 64, 64);
  --color-neutral-800: rgb(38, 38, 38);
  --color-neutral-900: rgb(23, 23, 23);
  --color-primary-50: rgb(231, 239, 255);
  --color-primary-100: rgb(208, 223, 255);
  --color-primary-200: rgb(161, 191, 255);
  --color-primary-300: rgb(113, 159, 255);
  --color-primary-400: rgb(66, 127, 255);
  --color-primary-500: rgb(19, 95, 255);
  --color-primary-600: rgb(0, 74, 228);
  --color-primary-700: rgb(0, 59, 183);
  --color-primary-800: rgb(0, 44, 137);
  --color-primary-900: rgb(0, 29, 91);
  --color-text: var(--color-primary-500);
  --color-background: var(--color-white);
  --color-background-rbga: 255, 255, 255;
  --background-blur: blur(20px);
  --overlay-background: rgba(var(--color-background-rbga), 0.5);
  --container-padding: 2.5rem;
  --border-radius-large: 3.5rem;
  --button-shadow: 0px 0px 4px rgba(19, 95, 255, 0.1), 0px 0px 20px -5px rgba(19, 95, 255, 0.2);
  --header-logo-height: 1.25rem;
  --header-padding-vertical: 1rem;
  --header-navbar-top-height: 0.5rem + (1rem * 1.4);
  --header-height: calc(var(--header-logo-height) + 0.75rem + (var(--header-padding-vertical) * 2));
  --header-spacing: var(--header-height);
  --transition-property: color, background-color, background, border, filter;
  --transition-duration: 500ms, 600ms, 600ms, 600ms;
  --transition-timing: ease-out, ease-out, ease-out, ease-out;
}
@media (min-width: 1320px) {
  :root {
    --header-padding-vertical: 1.5rem;
    --container-padding: 3.5rem;
  }
}
@media (max-width: 991px) {
  :root {
    --container-padding: 2rem;
    --header-padding-vertical: 1.25rem;
    --header-height: calc(var(--header-logo-height) + (var(--header-padding-vertical) * 2));
  }
}
@media (max-width: 767px) {
  :root {
    --container-padding: 1rem;
    --border-radius-large: 2.5rem;
  }
}
@media (max-width: 479px) {
  :root {
    --header-padding-vertical: 1rem;
    --border-radius-large: 2rem;
    --header-logo-height: 1rem;
  }
}

HTML {
  font-size: 16px;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
}

::-moz-selection {
  color: var(--color-background);
  background: var(--color-text);
}

::selection {
  color: var(--color-background);
  background: var(--color-text);
}

.scrollbar::-webkit-scrollbar, .comp-table_component::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollbar::-webkit-scrollbar-track, .comp-table_component::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: var(--color-background);
}
.scrollbar::-webkit-scrollbar-thumb, .comp-table_component::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 4px;
  box-shadow: rgba(0, 4, 255, 0.2) 0px 1px 8px;
}

.transition, .comp-table_column.is-first .comp-table_field, .comp-table_column.is-emphasized, .button:not(.is-text), .button-small:not(.is-text), .sticky-navigation_link:not(.w--current), .section_solution-form .component_contact-form_right-column, .section_sticky-navigation, .section_technology-features img, [class^=section_], .home-blockchain_marque_pill-badge, .home-logos_marquee_overlay, .footer_wrapper, .modal-opt-in_component, .navbar_menu_dropdown-list, .navbar_menu-link.is-button, .navbar_inner, body, a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-nav-link.w--current,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link.w--current,
.w-dropdown-link,
.link-block,
.w-nav-brand,
.w-button {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type=file]:focus-visible {
  outline: 0.125rem solid #4d65ff;
  outline-offset: 0.125rem;
}

.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-nav-link.w--current,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link.w--current,
.w-dropdown-link,
.link-block,
.w-nav-brand,
.w-nav-link.w--current,
.w-button {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

blockquote,
.w-input,
.w-select,
.w-pagination-next {
  border-color: inherit;
}

.w-embed:before,
.w-embed:after {
  display: none;
}

.w-slider-arrow-left,
.w-slider-arrow-right,
.w-pagination-next,
.w-pagination-previous {
  color: inherit;
}

.clickable-off {
  pointer-events: none;
}

.clickable-on {
  pointer-events: auto;
}

.div-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

main:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-style-hanging {
  hanging-punctuation: first last;
}

.display-inlineflex {
  display: inline-flex;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 991px), (max-width: 767px), (max-width: 479px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}
@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}
.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-global {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}
.padding-global.bleed-right {
  padding-right: unset;
}
.padding-global.bleed-left {
  padding-left: unset;
}

.padding-top,
.component_section_header {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.padding-vertical.padding-hero-top {
  padding-top: 16vh;
  padding-top: 16dvh;
}

body {
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--color-background);
  font-variation-settings: "wght" 400;
  color: var(--color-text);
}
body.is-blue {
  --color-background-rbga: 19, 95, 255;
  --overlay-background: rgba(var(--color-background-rbga), 0.7);
  --color-text: var(--color-white);
  --color-background: var(--color-primary-500);
}
body.is-black {
  --color-background-rbga: 23, 23, 23;
  --overlay-background: rgba(var(--color-background-rbga), 0.7);
  --color-text: var(--color-white);
  --color-background: var(--color-neutral-900);
}
.underline {
  background-image: linear-gradient(to right, var(--color-primary-100) 100%, transparent 100%);
  background-position: 0 0.92em;
  background-repeat: repeat-x;
  background-size: 1px 8px;
}

@media (min-width: 1280px) {
  .heading-style-h1 {
    font-size: max(10vh, 5.5rem);
  }
}
@media (min-width: 1280px) {
  .heading-style-h2 {
    font-size: max(8vh, 5rem);
  }
}
.navbar_component {
  background-color: unset;
}
.navbar_component.is-hidden {
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}
.navbar_inner {
  background-color: var(--overlay-background);
  -webkit-backdrop-filter: var(--background-blur);
          backdrop-filter: var(--background-blur);
}
.navbar_wrapper {
  padding-top: var(--header-padding-vertical);
  padding-bottom: var(--header-padding-vertical);
}
.navbar_logo-embed {
  height: var(--header-logo-height);
}
.navbar_menu-component {
  pointer-events: none;
}
@media (max-width: 991px) {
  .navbar_menu-component {
    padding-top: var(--header-height);
  }
}
.navbar_menu-wrapper {
  pointer-events: auto;
}
@media (max-width: 991px) {
  .navbar_menu-wrapper {
    padding: var(--container-padding);
    background-color: var(--overlay-background);
    -webkit-backdrop-filter: var(--background-blur);
            backdrop-filter: var(--background-blur);
  }
}
.navbar_menu-link.is-button {
  background-color: rgba(var(--color-background), 0.3);
  box-shadow: var(--button-shadow);
}
.navbar_menu_dropdown-list {
  background-color: var(--overlay-background);
  -webkit-backdrop-filter: var(--background-blur);
          backdrop-filter: var(--background-blur);
}
@media (max-width: 991px) {
  .navbar_menu_dropdown-list {
    background-color: unset;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
  }
}
.navbar_menu_dropdown-list.w-dropdown-list.w--open {
  display: flex;
}
.navbar_menu-button, .navbar_menu-button.w--open, .navbar_menu-button * {
  background-color: unset;
  color: var(--color-text);
}
.modal-opt-in_component {
  background-color: var(--color-background);
}

.email-opt-in_input::-webkit-input-placeholder {
  color: inherit;
}

.email-opt-in_input::placeholder, .email-opt-in_input::-webkit-input-placeholder {
  color: inherit;
}
.email-opt-in_input-icon {
  pointer-events: none;
}

.footer_wrapper {
  background-color: var(--color-text);
  color: var(--color-background);
  border-top-left-radius: var(--border-radius-large);
  border-top-right-radius: var(--border-radius-large);
}
.footer_nav_link {
  display: inline-flex;
}
.footer_component.is-not-sticky {
  margin-top: 0;
}
.footer_component.is-not-sticky .spacer {
  display: none;
}
.footer_component.is-not-sticky .footer_wrapper {
  position: relative;
  z-index: 2;
}

.hero-image_component {
  min-height: 100vh;
  min-height: 100dvh;
}
@media (max-width: 479px) {
  .hero-image_component {
    min-height: unset;
  }
}
.hero-image_wrapper {
  min-height: 100vh;
  min-height: 100dvh;
}
@media screen and (min-width: 117rem) {
  .hero-image_background-container {
    width: auto;
    height: 70vh;
    right: calc(2.5rem + 50vw - 56rem);
  }
}
@media (max-width: 479px) {
  .home-logos_marquee_inner {
    margin: 0 calc(var(--container-padding) * -1);
    width: calc(100% + var(--container-padding));
  }
}
.home-logos_marquee_overlay {
  background: linear-gradient(90deg, var(--color-background) 0%, rgba(255, 255, 255, 0) 100%);
}
.home-blockchain_marque_inner {
  overflow-x: hidden;
}
.home-blockchain_marque_pill-badge {
  background: var(--color-background);
}
.home-solutions_item svg path {
  transition: stroke-width 0.3s ease-out;
}
.home-solutions_item:hover {
  transition: letter-spacing 0.3s ease-out;
  letter-spacing: -0.03em;
}
.home-solutions_item:hover svg path {
  stroke-width: 4;
}
.home-quote-image_component {
  border-radius: var(--border-radius-large);
}

.technology-cryptography_quote_component {
  color: var(--color-white);
}

@media (max-width: 991px) {
  .company-investors_investor-bottom:nth-child(odd) {
    border-right-style: unset;
  }
  .company-investors_investor-bottom:nth-child(even) {
    border-right-style: solid;
  }
  .company-investors_investor-bottom:last-of-type {
    border-right-style: solid;
  }
}
@media (max-width: 479px) {
  .company-investors_investor-bottom:nth-child(odd) {
    border-right: solid 1px;
  }
}
.company-team_component [th-member=bio] {
  opacity: 0;
}

.blog-post_content_right-column {
  top: var(--header-height);
}

.card {
  display: inline-flex;
  white-space: normal;
}
.card[th-card=layout-1] {
  border-top: solid 1px;
  padding-top: 1.25rem;
  grid-row-gap: 3.5rem;
}
@media (max-width: 479px) {
  .card[th-card=layout-1] {
    padding-top: 1rem;
    grid-row-gap: 1.5rem;
  }
}
.card[th-card=layout-1] h3 {
  font-size: 1.4375rem;
  line-height: 1.2;
}
.card[th-card=layout-1] img {
  order: 2;
}
.card[th-card=layout-2] {
  grid-row-gap: 1.5rem;
}
.card[th-card=layout-3] img {
  width: 8rem;
  max-width: 50%;
}
@media (max-width: 991px) {
  .card[th-card=layout-3] img {
    width: 6rem;
  }
}
.card[th-card=layout-4] {
  border-top: solid 1px;
  padding: 2rem 0;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 991px) {
  .card[th-card=layout-4] {
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
}
@media (max-width: 479px) {
  .card[th-card=layout-4] {
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 2rem;
  }
}
.card[th-card=layout-4]:last-of-type {
  border-bottom: solid 1px;
}
.card[th-card=layout-4] h3 {
  font-size: 1.4375rem;
  line-height: 1.2;
}
.card[th-card=layout-4] img {
  width: 25%;
}
.card[th-card=layout-5] .heading-style-h5 {
  font-family: Aktiv Grotesk, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 700;
  text-transform: uppercase;
}
.card[th-card=layout-5] img {
  max-width: 3rem;
}

[th-horizontal-cards=panel] {
  display: inline-flex;
  white-space: nowrap;
}
[th-horizontal-cards=panel] .card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

[class^=section_] {
  background-color: var(--color-background);
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  [class^=section_] {
    position: static;
  }
}
.section_hero-image {
  position: static;
}
.section_cta-summary .card {
  padding: 2vw;
  border: 0 solid;
}
.section_cta-summary .card:not(:nth-child(-n+4)) {
  border-top: 1px solid;
}
.section_cta-summary .card:not(:nth-child(4n+1)) {
  border-left: 1px solid;
}
@media (max-width: 991px) {
  .section_cta-summary .card {
    padding: 2rem;
  }
  .section_cta-summary .card:nth-child(2n-1) {
    padding-left: 0;
  }
  .section_cta-summary .card:nth-child(2n) {
    padding-right: 0;
  }
  .section_cta-summary .card:not(:nth-child(-n+2)) {
    border-top: 1px solid;
  }
  .section_cta-summary .card:nth-child(odd) {
    border-left: none;
  }
}
@media (max-width: 479px) {
  .section_cta-summary .card, .section_cta-summary .card:not(:nth-child(-n+2)), .section_cta-summary .card:not(:nth-child(4n+1)) {
    border: unset;
    padding-left: 0;
    padding-right: 0;
  }
  .section_cta-summary .card:not(:last-child) {
    border-bottom: solid 1px;
  }
}
.section_cta-summary .card[th-card=layout-3] .heading-style-h5 {
  font-size: 1.5rem;
}
@media (min-width: 1440px) {
  .section_cta-summary .card[th-card=layout-3] .heading-style-h5 {
    font-size: 2rem;
  }
}
.section_home-quote-image {
  position: static;
  color: var(--color-primary-500);
}
body:not(.is-black) .section_technology-features img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.section_sticky-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: var(--header-spacing);
  z-index: 3;
  background-color: var(--overlay-background);
  -webkit-backdrop-filter: var(--background-blur);
          backdrop-filter: var(--background-blur);
}
.section_solution-hero {
  position: static;
}
.section_solution-form .component_contact-form_right-column {
  padding: 4%;
  background-color: var(--color-primary-100);
}
body.is-black .section_solution-form .component_contact-form_right-column {
  background-color: var(--color-neutral-800);
}

.solution-hero_component {
  min-height: 100vh;
  min-height: 100dvh;
}
.solution-hero_wrapper {
  min-height: 100vh;
  min-height: 100dvh;
}

.horizontal-carousel_wrapper.is-layout-1 .card {
  width: 37vw;
}
@media (max-width: 767px) {
  .horizontal-carousel_wrapper.is-layout-1 .card {
    width: 100%;
  }
}
.horizontal-carousel_wrapper.is-layout-1 .card:not(:last-child) {
  margin-right: 4.5rem;
}
@media (max-width: 991px) {
  .horizontal-carousel_wrapper.is-layout-1 .card:not(:last-child) {
    margin-right: 6vw;
  }
}
@media (max-width: 767px) {
  .horizontal-carousel_wrapper.is-layout-1 .card:not(:last-child) {
    margin-right: 0;
  }
}
.horizontal-carousel_wrapper.is-layout-3 .card {
  min-width: 20rem;
  width: 22vw;
}
.horizontal-carousel_wrapper.is-layout-3 .card:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 767px) {
  .horizontal-carousel_wrapper.is-layout-3 .card {
    width: 100%;
    margin-right: 0;
  }
}

.component_sticky-cta_component {
  background-color: var(--overlay-background);
  -webkit-backdrop-filter: var(--background-blur);
          backdrop-filter: var(--background-blur);
}
@media (max-width: 991px) {
  .component_demo-form_component {
    padding: var(--container-padding);
  }
}
@media (max-width: 479px) {
  .component_demo-form_component {
    padding: unset;
  }
}

.sticky-navigation_link {
  color: var(--color-text);
}
.sticky-navigation_link:not(.w--current) {
  color: var(--color-primary-300);
}
body.is-black .sticky-navigation_link:not(.w--current) {
  color: var(--color-neutral-300);
}

.button:not(.is-text), .button-small:not(.is-text) {
  background-color: var(--overlay-background);
  -webkit-backdrop-filter: var(--background-blur);
          backdrop-filter: var(--background-blur);
  box-shadow: var(--button-shadow);
}
.button.is-icon, .is-icon.button-small {
  display: inline-flex;
}
.ratio-3-2::before {
  --aspect-ratio: 3/2;
}

.ratio-1792-1120::before {
  --aspect-ratio: 1792/1120;
}

div[class^=ratio] {
  position: relative;
  overflow: hidden;
}

div[class^=ratio]::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

div[class^=ratio] > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

*[aspect-ratio] {
  vertical-align: unset;
  -o-object-fit: cover;
     object-fit: cover;
}

*[aspect-ratio="1/1"] {
  aspect-ratio: 1/1;
}

*[aspect-ratio="3/2"] {
  aspect-ratio: 3/2;
}

*[aspect-ratio="16/9"] {
  aspect-ratio: 16/9;
}

.container-carousel {
  padding: var(--container-padding);
}
@media (min-width: 1320px) {
  .container-carousel {
    padding-bottom: var(--header-height);
  }
}
@media (max-height: 850px) {
  .container-carousel {
    padding-top: 1rem;
    grid-row-gap: 3rem;
  }
}

.home-merge_panel {
  grid-template-areas: ". Text Text Text Text . wallet-container-2 wallet-container-2 wallet-container-2 . ." ". . wallet-container-3 wallet-container-3 wallet-container-3 . . . wallet-container-4 wallet-container-4 wallet-container-4";
}
.home-merge_panel .home-merge_text-container {
  grid-area: Text;
}
.home-merge_panel .home-merge_wallet-container.is-first {
  align-self: center;
  justify-self: center;
  grid-row-start: span 2;
  grid-row-end: span 2;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
.home-merge_panel .home-merge_wallet-container.is-second {
  grid-area: wallet-container-2;
}
.home-merge_panel .home-merge_wallet-container.is-third {
  grid-area: wallet-container-3;
}
.home-merge_panel .home-merge_wallet-container.is-fourth {
  grid-area: wallet-container-4;
}
.home-merge_panel.is-switched {
  grid-template-areas: "Text Text Text Text wallet-container-1 wallet-container-1 wallet-container-1 wallet-container-1 wallet-container-2 wallet-container-2 wallet-container-2 wallet-container-2" "wallet-container-3 wallet-container-3 wallet-container-3 wallet-container-3 wallet-container-1 wallet-container-1 wallet-container-1 wallet-container-1 wallet-container-4 wallet-container-4 wallet-container-4 wallet-container-4";
}
.home-merge_panel.is-switched .home-merge_wallet-container.is-first {
  grid-area: wallet-container-1;
}

[th-homemerge-element=coin]:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1100px) {
  .comp-table_component::-webkit-scrollbar {
    width: initial;
    height: initial;
  }
}

.comp-table_column.is-emphasized {
  background-color: var(--color-primary-100);
}
.is-black .comp-table_column.is-emphasized {
  background-color: var(--color-neutral-800);
}

.comp-table_column.is-first .comp-table_field {
  background-color: var(--color-background);
}
.comp-table_column.is-first .comp-table_field:first-child {
  border-right: 0;
}
.comp-table_column.is-last .comp-table_field {
  border-right: 0;
}
body.is-solution-fund .comp-table_column:nth-of-type(1) {
  order: 1;
}
body.is-solution-fund .comp-table_column:nth-of-type(2) {
  order: 2;
}
body.is-solution-fund .comp-table_column:nth-of-type(3) {
  order: 4;
}
body.is-solution-fund .comp-table_column:nth-of-type(4) {
  order: 3;
}
body.is-solution-fund .comp-table_column:nth-of-type(5) {
  order: 5;
}
body.is-solution-fund .comp-table_column:nth-of-type(6) {
  order: 6;
}

.comp-table_column-shadow {
  opacity: 0;
  transition: opacity 0.1s ease-out;
  background-image: linear-gradient(to right, var(--color-background), rgba(0, 0, 0, 0));
}
.comp-table_column-shadow.is-visible {
  opacity: 1;
}
.comp-table_field {
  border-color: var(--color-primary-200);
}
.is-black .comp-table_field {
  border-color: var(--color-neutral-500);
}
.is-black .comp-table_field img {
  -webkit-filter: saturate(0) invert(1);
          filter: saturate(0) invert(1);
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}
.grow-wrap > textarea, .grow-wrap::after {
  font-size: 1 !important;
  line-height: 1em !important;
  padding-top: 0.2em;
  font: inherit;
  grid-area: 1/1/2/2;
}
body {
  opacity: 1;
}
